# Data Science Project SoSe 2024
## Team 07
- Maximilian Hoffmann
- Kilian Kempf
- Daniel Schneider
- Tom Schuck

## Submission of Task 2

In [1]:
import os
import pandas as pd

### Data Preparation

In [20]:
DATA_DIR = os.path.join(os.getcwd(), 'data/Instacart')

op_train = pd.read_csv(os.path.join(DATA_DIR, 'order_products__train.csv.zip'))
op_prior = pd.read_csv(os.path.join(DATA_DIR, 'order_products__prior.csv.zip'))
op = pd.concat([op_train, op_prior])

orders = pd.read_csv(os.path.join(DATA_DIR, 'orders.csv.zip'))

tip_train = pd.read_csv(os.path.join(DATA_DIR, 'tip_trainingsdaten1_.csv'))[['order_id', 'tip']]

In [26]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [28]:
orders_tip = pd.merge(orders, tip_train)
orders_tip # train fällt wieder raus?!

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip
0,2539329,1,prior,1,2,8,NaN,False
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3214869,2558525,206209,prior,9,4,15,22.0,False
3214870,2266710,206209,prior,10,5,18,29.0,False
3214871,1854736,206209,prior,11,4,10,30.0,False
3214872,626363,206209,prior,12,1,12,18.0,False
3214873,2977660,206209,prior,13,1,12,7.0,False

### Task 2.1

In [37]:
from sklearn.tree import DecisionTreeClassifier


# to be adapted
features = ['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
clf = DecisionTreeClassifier(criterion='entropy', max_depth=4)
clf = clf.fit(orders_tip.loc[:, features], orders_tip['tip'])

### Task 2.2

### Task 2.3

### Task 2.4

### Task 2.5