# Data Science Project SoSe 2024
## Team 07
- Maximilian Hoffmann
- Kilian Kempf
- Daniel Schneider
- Tom Schuck

## Project Submission

### Libraries

In [1]:
import os

import pandas as pd

from feature_engineering import DataStore
from feature_engineering.features import TipHistory, ReorderedRatio, DynamicFeatureTest1, DynamicFeatureTest2, OrderSize, ModeDepartment

### Data Preparation

In [2]:
DATA_DIR = os.path.join(os.getcwd(), 'data/Instacart')

op_prior = pd.read_csv(os.path.join(DATA_DIR, 'order_products__prior.csv.zip'))
op_train = pd.read_csv(os.path.join(DATA_DIR, 'order_products__train.csv.zip'))

tip_train = pd.read_csv(os.path.join(DATA_DIR, 'tip_trainingsdaten1_.csv'))[['order_id', 'tip']]
tip_test = pd.read_csv(os.path.join(DATA_DIR, 'tip_testdaten1_template.csv'))

orders = pd.read_csv(os.path.join(DATA_DIR, 'orders.csv.zip'))
aisles = pd.read_csv(os.path.join(DATA_DIR, 'aisles.csv.zip'))
departments = pd.read_csv(os.path.join(DATA_DIR, 'departments.csv.zip'))
products = pd.read_csv(os.path.join(DATA_DIR, 'products.csv.zip'))

data_store = DataStore(op_prior, op_train, tip_train, tip_test, orders, products, aisles, departments)
order_amount = len(data_store.get_orders_tip())

### Feature Engineering

In [3]:
features = ['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'tip_history', 'reordered_ratio']

tip_history = TipHistory(data_store)
reordered_rate = ReorderedRatio(data_store)
order_size = OrderSize(data_store)
mode_dept = ModeDepartment(data_store)

# Static Features
tip_history.compute_feature()
reordered_rate.compute_feature()
order_size.compute_feature()
mode_dept.compute_feature()

# Dynamic Features

In [4]:
data_store.get_orders_tip().head(25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,tip_history,reordered_ratio,order_size,mode_dept
0,2539329,1,prior,1,2,8,-1,0.0,-1.000000,0.000000,5,19
1,2398795,1,prior,2,3,7,15,0.0,0.000000,0.500000,6,19
2,473747,1,prior,3,3,12,21,0.0,0.000000,0.600000,5,19
3,2254736,1,prior,4,4,7,29,0.0,0.000000,1.000000,5,19
4,431534,1,prior,5,4,15,28,0.0,0.000000,0.625000,8,4
5,3367565,1,prior,6,2,7,19,0.0,0.000000,1.000000,4,19
6,550135,1,prior,7,1,9,20,0.0,0.000000,1.000000,5,19
7,3108588,1,prior,8,1,14,14,0.0,0.000000,0.666667,6,19
8,2295261,1,prior,9,1,16,0,0.0,0.000000,1.000000,6,7
9,2550362,1,prior,10,4,8,30,0.0,0.000000,0.666667,9,19
10,1187899,1,train,11,4,8,14,NaN,0.000000,0.909091,11,16
11,2168274,2,prior,1,2,11,-1,0.0,-1.000000,0.000000,13,4
12,1501582,2,prior,2,5,10,10,0.0,0.000000,0.166667,6,4
13,1901567,2,prior,3,1,10,3,1.0,0.000000,0.600000,5,20
14,738281,2,prior,4,2,10,8,0.0,0.333333,0.076923,13,20
15,1673511,2,prior,5,3,11,8,1.0,0.250000,0.076923,13,19
16,1199898,2,prior,6,2,9,13,0.0,0.400000,0.571429,21,16
17,3194192,2,prior,7,2,12,14,1.0,0.333333,0.785714,14,19
18,788338,2,prior,8,1,15,27,1.0,0.428571,0.562500,16,19
19,1718559,2,prior,9,2,9,8,1.0,0.500000,0.538462,26,1
20,1447487,2,prior,10,1,11,6,1.0,0.555556,0.888889,9,16
21,1402090,2,prior,11,1,10,30,1.0,0.600000,0.800000,15,16
22,3186735,2,prior,12,1,9,28,1.0,0.636364,0.578947,19,16
23,3268552,2,prior,13,4,11,30,0.0,0.666667,0.000000,9,19
24,839880,2,prior,14,3,10,13,0.0,0.615385,0.625000,16,16

In [5]:
data_store.get_orders_tip_subset().head(25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,tip_history
0,2539329,1,prior,1,2,8,-1,0.0,-1.000000
1,2398795,1,prior,2,3,7,15,0.0,0.000000
2,473747,1,prior,3,3,12,21,0.0,0.000000
3,2254736,1,prior,4,4,7,29,0.0,0.000000
4,431534,1,prior,5,4,15,28,0.0,0.000000
5,3367565,1,prior,6,2,7,19,0.0,0.000000
6,550135,1,prior,7,1,9,20,0.0,0.000000
7,3108588,1,prior,8,1,14,14,0.0,0.000000
8,2295261,1,prior,9,1,16,0,0.0,0.000000
9,2550362,1,prior,10,4,8,30,0.0,0.000000
10,1187899,1,train,11,4,8,14,NaN,0.000000
11,2168274,2,prior,1,2,11,-1,0.0,-1.000000
12,1501582,2,prior,2,5,10,10,0.0,0.000000
13,1901567,2,prior,3,1,10,3,1.0,0.000000
14,738281,2,prior,4,2,10,8,0.0,0.333333
15,1673511,2,prior,5,3,11,8,1.0,0.250000
16,1199898,2,prior,6,2,9,13,0.0,0.400000
17,3194192,2,prior,7,2,12,14,1.0,0.333333
18,788338,2,prior,8,1,15,27,1.0,0.428571
19,1718559,2,prior,9,2,9,8,1.0,0.500000
20,1447487,2,prior,10,1,11,6,1.0,0.555556
21,1402090,2,prior,11,1,10,30,1.0,0.600000
22,3186735,2,prior,12,1,9,28,1.0,0.636364
23,3268552,2,prior,13,4,11,30,0.0,0.666667
24,839880,2,prior,14,3,10,13,0.0,0.615385

In [6]:
order_ids = data_store.get_orders_tip().groupby('user_id')['order_id'].head(5)
data_store.set_data_subset(order_ids)

# Dynamic Features

In [7]:
data_store.get_orders_tip_subset().head(25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,tip_history,reordered_ratio,order_size,mode_dept
0,2539329,1,prior,1,2,8,-1,0.0,-1.000000,0.000000,5,19
1,2398795,1,prior,2,3,7,15,0.0,0.000000,0.500000,6,19
2,473747,1,prior,3,3,12,21,0.0,0.000000,0.600000,5,19
3,2254736,1,prior,4,4,7,29,0.0,0.000000,1.000000,5,19
4,431534,1,prior,5,4,15,28,0.0,0.000000,0.625000,8,4
11,2168274,2,prior,1,2,11,-1,0.0,-1.000000,0.000000,13,4
12,1501582,2,prior,2,5,10,10,0.0,0.000000,0.166667,6,4
13,1901567,2,prior,3,1,10,3,1.0,0.000000,0.600000,5,20
14,738281,2,prior,4,2,10,8,0.0,0.333333,0.076923,13,20
15,1673511,2,prior,5,3,11,8,1.0,0.250000,0.076923,13,19
26,1374495,3,prior,1,1,14,-1,1.0,-1.000000,0.000000,10,4
27,444309,3,prior,2,3,19,9,1.0,1.000000,0.333333,9,16
28,3002854,3,prior,3,3,16,21,1.0,1.000000,0.500000,6,4
29,2037211,3,prior,4,2,18,20,1.0,1.000000,0.200000,5,1
30,2710558,3,prior,5,0,17,12,1.0,1.000000,0.636364,11,4
38,3343014,4,prior,1,6,11,-1,0.0,-1.000000,0.000000,4,-1
39,2030307,4,prior,2,4,11,19,0.0,0.000000,0.000000,2,-1
40,691089,4,prior,3,4,15,21,0.0,0.000000,0.142857,7,1
41,94891,4,prior,4,5,13,15,0.0,0.000000,0.000000,2,-1
42,2557754,4,prior,5,5,13,0,0.0,0.000000,0.000000,3,20
43,2717275,5,prior,1,3,12,-1,0.0,-1.000000,0.000000,11,4
44,1909121,5,prior,2,0,16,11,1.0,0.000000,0.444444,9,4
45,2267326,5,prior,3,3,18,10,0.0,0.500000,0.400000,5,4
46,157374,5,prior,4,1,18,19,1.0,0.333333,0.666667,12,4
47,2196797,5,train,5,0,11,6,NaN,0.500000,0.444444,9,4

### Temporary Validation

In [7]:
print(f"Number of orders did not change: {order_amount == len(data_store.get_orders_tip())}")
print(f"Number of subset orders did not change: {len(order_ids) == len(data_store.get_orders_tip_subset())}\n")
print(f"Number of NaN or null values in each column:\n{data_store.get_orders_tip().isnull().sum()}")

Number of orders did not change: True
Number of subset orders did not change: True

Number of NaN or null values in each column:
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order         0
tip                       131209
tip_history                    0
reordered_ratio                0
order_size                     0
dtype: int64

### Temporary Manual Validation

In [8]:
orders_joined = data_store.get_orders_joined()
order_size = orders_joined.groupby('order_id')['order_number'].size().reset_index().rename(
    columns={'order_number': 'order_size'})
order_size.head(25)

    order_id  order_size
0          1           8
1          2           9
2          3           8
3          4          13
4          5          26
5          6           3
6          7           2
7          8           1
8          9          15
9         10          15
10        11           5
11        12          15
12        13          13
13        14          11
14        15           5
15        16           3
16        18          28
17        19           3
18        20           8
19        21           5
20        22          14
21        23          14
22        24           3
23        25          14
24        26           8

In [9]:
print(f"Order size example: {order_size[order_size['order_id'] == 2168274]['order_size'].values[0]}")
orders_joined[orders_joined['order_id'] == 2168274]

Order size example: 13

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
70,2168274,2,prior,1,2,11,NaN,0.0,32792,1,0,Chipotle Beef & Pork Realstick,23,19,popcorn jerky,snacks
71,2168274,2,prior,1,2,11,NaN,0.0,47766,2,0,Organic Avocado,24,4,fresh fruits,produce
72,2168274,2,prior,1,2,11,NaN,0.0,20574,3,0,Roasted Turkey,96,20,lunch meat,deli
73,2168274,2,prior,1,2,11,NaN,0.0,12000,4,0,Baked Organic Sea Salt Crunchy Pea Snack,72,13,condiments,pantry
74,2168274,2,prior,1,2,11,NaN,0.0,48110,5,0,Thin Stackers Brown Rice Lightly Salted,78,19,crackers,snacks
75,2168274,2,prior,1,2,11,NaN,0.0,22474,6,0,Cheddar Bunnies Snack Crackers,78,19,crackers,snacks
76,2168274,2,prior,1,2,11,NaN,0.0,16589,7,0,Plantain Chips,107,19,chips pretzels,snacks
77,2168274,2,prior,1,2,11,NaN,0.0,35917,8,0,Organic Just Concord Grape Juice,98,7,juice nectars,beverages
78,2168274,2,prior,1,2,11,NaN,0.0,27344,9,0,Uncured Genoa Salami,96,20,lunch meat,deli
79,2168274,2,prior,1,2,11,NaN,0.0,30489,10,0,Original Hummus,67,20,fresh dips tapenades,deli
80,2168274,2,prior,1,2,11,NaN,0.0,27966,11,0,Organic Raspberries,123,4,packaged vegetables fruits,produce
81,2168274,2,prior,1,2,11,NaN,0.0,13176,12,0,Bag of Organic Bananas,24,4,fresh fruits,produce
82,2168274,2,prior,1,2,11,NaN,0.0,45066,13,0,Honeycrisp Apple,24,4,fresh fruits,produce

### Temporary Tests

In [10]:
dynamic_feature_test_1 = DynamicFeatureTest1(data_store)
dynamic_feature_test_2 = DynamicFeatureTest2(data_store)
dynamic_feature_test_1.compute_feature()
dynamic_feature_test_2.compute_feature()

data_store.get_orders_tip_subset().head(25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,tip_history,reordered_ratio,order_size,dynamic_feature_test_1,dynamic_feature_test_2
0,2539329,1,prior,1,2,8,-1,0.0,-1.000000,0.000000,5,1,1
1,2398795,1,prior,2,3,7,15,0.0,0.000000,0.500000,6,0,2
2,473747,1,prior,3,3,12,21,0.0,0.000000,0.600000,5,1,0
3,2254736,1,prior,4,4,7,29,0.0,0.000000,1.000000,5,0,1
4,431534,1,prior,5,4,15,28,0.0,0.000000,0.625000,8,1,2
5,2168274,2,prior,1,2,11,-1,0.0,-1.000000,0.000000,13,1,1
6,1501582,2,prior,2,5,10,10,0.0,0.000000,0.166667,6,0,2
7,1901567,2,prior,3,1,10,3,1.0,0.000000,0.600000,5,1,0
8,738281,2,prior,4,2,10,8,0.0,0.333333,0.076923,13,0,1
9,1673511,2,prior,5,3,11,8,1.0,0.250000,0.076923,13,1,2
10,1374495,3,prior,1,1,14,-1,1.0,-1.000000,0.000000,10,1,1
11,444309,3,prior,2,3,19,9,1.0,1.000000,0.333333,9,0,2
12,3002854,3,prior,3,3,16,21,1.0,1.000000,0.500000,6,1,0
13,2037211,3,prior,4,2,18,20,1.0,1.000000,0.200000,5,0,1
14,2710558,3,prior,5,0,17,12,1.0,1.000000,0.636364,11,1,2
15,3343014,4,prior,1,6,11,-1,0.0,-1.000000,0.000000,4,1,1
16,2030307,4,prior,2,4,11,19,0.0,0.000000,0.000000,2,0,2
17,691089,4,prior,3,4,15,21,0.0,0.000000,0.142857,7,1,0
18,94891,4,prior,4,5,13,15,0.0,0.000000,0.000000,2,0,1
19,2557754,4,prior,5,5,13,0,0.0,0.000000,0.000000,3,1,2
20,2717275,5,prior,1,3,12,-1,0.0,-1.000000,0.000000,11,1,1
21,1909121,5,prior,2,0,16,11,1.0,0.000000,0.444444,9,0,2
22,2267326,5,prior,3,3,18,10,0.0,0.500000,0.400000,5,1,0
23,157374,5,prior,4,1,18,19,1.0,0.333333,0.666667,12,0,1
24,2196797,5,train,5,0,11,6,NaN,0.500000,0.444444,9,1,2

In [11]:
order_ids = data_store.get_orders_tip().groupby('user_id')['order_id'].head(4)
data_store.set_data_subset(order_ids)

dynamic_feature_test_1.compute_feature()
data_store.get_orders_tip_subset().head(25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,tip_history,reordered_ratio,order_size,dynamic_feature_test_1
0,2539329,1,prior,1,2,8,-1,0.0,-1.000000,0.000000,5,1
1,2398795,1,prior,2,3,7,15,0.0,0.000000,0.500000,6,0
2,473747,1,prior,3,3,12,21,0.0,0.000000,0.600000,5,1
3,2254736,1,prior,4,4,7,29,0.0,0.000000,1.000000,5,0
11,2168274,2,prior,1,2,11,-1,0.0,-1.000000,0.000000,13,1
12,1501582,2,prior,2,5,10,10,0.0,0.000000,0.166667,6,0
13,1901567,2,prior,3,1,10,3,1.0,0.000000,0.600000,5,1
14,738281,2,prior,4,2,10,8,0.0,0.333333,0.076923,13,0
26,1374495,3,prior,1,1,14,-1,1.0,-1.000000,0.000000,10,1
27,444309,3,prior,2,3,19,9,1.0,1.000000,0.333333,9,0
28,3002854,3,prior,3,3,16,21,1.0,1.000000,0.500000,6,1
29,2037211,3,prior,4,2,18,20,1.0,1.000000,0.200000,5,0
38,3343014,4,prior,1,6,11,-1,0.0,-1.000000,0.000000,4,1
39,2030307,4,prior,2,4,11,19,0.0,0.000000,0.000000,2,0
40,691089,4,prior,3,4,15,21,0.0,0.000000,0.142857,7,1
41,94891,4,prior,4,5,13,15,0.0,0.000000,0.000000,2,0
43,2717275,5,prior,1,3,12,-1,0.0,-1.000000,0.000000,11,1
44,1909121,5,prior,2,0,16,11,1.0,0.000000,0.444444,9,0
45,2267326,5,prior,3,3,18,10,0.0,0.500000,0.400000,5,1
46,157374,5,prior,4,1,18,19,1.0,0.333333,0.666667,12,0
48,2086598,6,prior,1,5,18,-1,0.0,-1.000000,0.000000,4,1
49,298250,6,prior,2,4,16,6,0.0,0.000000,0.285714,7,0
50,998866,6,prior,3,2,18,12,0.0,0.000000,0.000000,3,1
51,2565571,7,prior,1,3,9,-1,0.0,-1.000000,0.000000,12,1
52,2402008,7,prior,2,1,19,30,0.0,0.000000,0.190476,21,0

### Analysis

### Model Training & Evaluation