# Data Science Project SoSe 2024
## Team 07
- Maximilian Hoffmann
- Kilian Kempf
- Daniel Schneider
- Tom Schuck

## Submission of Task 1

### Data Preparation

In [1]:
import os

import pandas as pd

DATA_DIR = os.path.join(os.getcwd(), 'data/Instacart')

orders = pd.read_csv(os.path.join(DATA_DIR, 'orders.csv.zip'))
orders = orders[orders['eval_set'].isin(['prior', 'train'])]

### Task 1.1

In [2]:
num_orders = orders[['user_id', 'order_number']].groupby('user_id').count().reset_index()
num_orders.rename(columns={'order_number': 'num_orders'}, inplace=True)
num_orders.head()

   user_id  num_orders
0        1          11
1        2          15
2        3          12
3        4           5
4        5           5

In [3]:
orders = pd.merge(orders, num_orders).rename(columns={'num_orders': 'rel_order_number'})
orders['rel_order_number'] = orders['order_number'] / orders['rel_order_number']
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,rel_order_number
0,2539329,1,prior,1,2,8,NaN,0.090909
1,2398795,1,prior,2,3,7,15.0,0.181818
2,473747,1,prior,3,3,12,21.0,0.272727
3,2254736,1,prior,4,4,7,29.0,0.363636
4,431534,1,prior,5,4,15,28.0,0.454545

### Task 1.2

In [4]:
print("User 1:\n")
orders[orders['user_id'] == 1]

User 1:

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,rel_order_number
0,2539329,1,prior,1,2,8,NaN,0.090909
1,2398795,1,prior,2,3,7,15.0,0.181818
2,473747,1,prior,3,3,12,21.0,0.272727
3,2254736,1,prior,4,4,7,29.0,0.363636
4,431534,1,prior,5,4,15,28.0,0.454545
5,3367565,1,prior,6,2,7,19.0,0.545455
6,550135,1,prior,7,1,9,20.0,0.636364
7,3108588,1,prior,8,1,14,14.0,0.727273
8,2295261,1,prior,9,1,16,0.0,0.818182
9,2550362,1,prior,10,4,8,30.0,0.909091
10,1187899,1,train,11,4,8,14.0,1.000000